<div class="container-fluid">
  <div class="row">
    <div class="col-6 m-auto informacion">
      <h1 class="pb-5 text-center">Cambio de clase css a elemento con TypeScript</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="ejemplo col-12" [ngClass]="{inicio : estado , fin : !estado}">
            <h2>{{textoPrueba}}</h2>
          </div>
          <div class="col-12 pt-5">
            <button class="btn m-auto" (click)="cambioClass()">
                <i class="material-icons">{{icono}}</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

